@import url("https://use.typekit.net/rfb7wlv.css");
@require '~vuepress-plugin-tabs/dist/themes/default.styl'
  
body {
  font-family: cronos-pro, sans-serif; 
}

p, li, ul {
  font-family: cronos-pro, sans-serif; 
  font-size: 19 px
}

h1, h2, h3, h4, h5, h6 {
  font-family: myriad-pro-semi-condensed, sans-serif; 
}

// h1, h2, h3, h4, h5, h6 {
//   font-family: myriad-pro-semi-condensed, sans-serif; 
// }